@model IndexViewModel 
@{
    ViewData["Title"] = "Home Page";
}

<div id="content" class="site-body">
    <div class="content-wrap">
        <h1 class="title-user">
            " Welcome to FilmGrain!"
            <span class="mob-hide">Here are some recommend movies for you!</span>
        </h1>
		<section id="random-movies" class="section">
			<ul class="list-group list-group-horizontal">
			@foreach (var Movie in Model.RandomMoviePosters)
			{
				<li class="list-group-item">
						<h5><a asp-action="GoToOverview">@Movie.Title</a> </h5>
						<img src="@Movie.Url"/>
				</li>
			}
			</ul>
		</section>
    </div>
</div>
