@{
    ViewData["Title"] = "Home Page";
}

<div id="content" class="site-body">
    <div class="content-wrap">
        <h1 class="title-user">
            " Welcome to FilmGrain!"
            <span class="mob-hide">Here are some recommend movies for you!</span>
        </h1>
        <section id="random-movies" class="section">
			<h2 class="section-heading"></h2>
                <a href="giverandommovies">Random movies</a>
                <ul class="poster-list -p150 list-group-horizontal">
                    <li class="poster-container"></li>
                    <li class="poster-container"></li>
                    <li class="poster-container"></li>
                    <li class="poster-container"></li>
                    <li class="poster-container"></li>
                    <li class="poster-container"></li>
                </ul>
        </section>
    </div>
</div>
