/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.poster-list.-horizontal {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-left: -10px;
}
.poster-list {
    overflow: hidden;
}
.title-hero {
    font-size: 2rem;
    line-height: 1.23076923;
    color: #abc;
}
.title-hero, .title- maxi {
    font-family: Graphik-Light-Web, sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0, 0, 2.30769231rem;
}
.img-responsive {
    width: 90vw;
    max-width: 500px;
}

h1 {
    font-family: 'Lobster';
    font-size: 6rem;
    color: black;
    transform: rotate(-10deg);
}

.alert {
    margin-top: 10px;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    min-height: 100vh;
    overflow: hidden;
}

.search {
    flex: 1;
    text-align: center;
}

button {
    background-color: black;
    border: 0;
    color: white;
    font-size: 2em;
    padding: 10px;
    margin-left: 0;
    font-family: 'Lobster';
}

input[type=text] {
    background: rgba(255, 255, 255, 0.5);
    outline: none;
    border: 3px solid black;
    color: black;
    font-family: 'Lato';
    font-size: 2em;
    padding: 8px;
    margin-right: 0;
    text-align: center;
}


::-webkit-input-placeholder {
    color: black;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: black;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: black;
}

:-ms-input-placeholder {
    color: black;
}

#poster {
    margin-top: 20px
}

    #poster p {
        font-size: 2em;
        color: black;
    }

input:focus {
    outline: none;
}

.alert {
    background-color: rgba(0, 0, 0, 0.95);
    display: inline;
    padding: 10px;
    color: white;
}
.posterContainer {
    max-width: 200px;
    max-height: 100px;
}


